<a routerLink="/administracion/crear-planes" class="btn">Nuevo Plan</a>
<table class="table responsive">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripción
            </th>
            <th>
                Precio 
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoRegistros">
            <td>
                {{p.nombre}}
            </td>
            <td>
                {{p.descripcion}}
            </td>
            <td>
                {{p.precio}}
            </td>
            <td>
                <a routerLink="/administracion/editar-planes/{{p.id}}" class="btn">Editar</a>
            </td>           
            <td>
                <a routerLink="/administracion/eliminar-planes/{{p.id}}" class="btn">Eliminar</a>
            </td>  
        </tr>
    </tbody>
</table>