.header {
    background-image:none /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))*/,
      url("./../../../../../assets/img/Nuevos.png");
    background-size: cover;
    height: 320px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px;
  }