<section>
  <div class="header">
    <h1>Bienvenidos a Mascota Feliz</h1>
    <button>Contáctanos</button>
  </div>
</section>

<section>
  <div class="content">
    <h2 style="text-align: center; font-weight: bold">Planes</h2>
    <div class="cards">
      <div class="icard">
        <h3>Diamante</h3>
        <i class="fa fa-user fa-5x diamond"></i>
        <p>Tendras acceso a</p>
        <button>Comprar</button>
      </div>
      <div class="icard gold">
        <h3>Oro</h3>
        <i class="fa fa-user fa-5x gold"></i>
        <p>Lorem ipsum dolor, sit amet consectetur</p>
        <button>Comprar</button>
      </div>
      <div class="icard">
        <h3>Bronce</h3>
        <i class="fa fa-user fa-5x bronce"></i>
        <p>Lorem ipsum dolor, sit amet consectetur</p>
        <button>Comprar</button>
      </div>
    </div>
  </div>
</section>

<section class="products">
  <h2 style="text-align: center; font-weight: bold">Productos</h2>
  <div class="carousel">
    <a class="carousel-item" href="#one!"
      ><img src="./../../../assets/img/GalletasPerros.jpg"
    /></a>
    <a class="carousel-item" href="#two!"
      ><img src="./../../../assets/img/arenaGato.jpeg"
    /></a>
    <a class="carousel-item" href="#three!"
      ><img src="./../../../assets/img/ShampooPetys.jpg"
    /></a>
    <a class="carousel-item" href="#four!"
      ><img src="./../../../assets/img/cama.jpg"
    /></a>
    <a class="carousel-item" href="#five!"
      ><img src="./../../../assets/img/peluqueria.jpg"
    /></a>
    <a class="carousel-item" href="#six!"
      ><img src="./../../../assets/img/collar.jpg"
    /></a>
  </div>
</section>

<!--=========================================================-->
<!--Acerca de nosotros-->
<!--=========================================================-->
<section>
  <div>
    <h1 class="center">Equipo pequeño con<span> Resultados Grandes</span></h1>
    <p class="center">
      Estamos creciendo continuamente, superandonos, aprendiendo de cada reto,
      para contribuir con la sociedad
    </p>
  </div>
  <div class="mt-5 text-center">
    <img class="img-fluid" src="./../../../assets/img/slide0grupo.jpeg" />
  </div>
</section>
