<section>
  <div class="header">
    <h1>Bienvenidos a Mascota Feliz</h1>
    <button>Contáctanos</button>
  </div>
</section>

<section>
  <div class="content ">
    <h2 style="text-align: center; font-weight: bold">Planes</h2>
    <div class="cards">
      <div class="icard">
        <h3>Diamante</h3>
        <i class="fa fa-user fa-5x diamond"></i>
        <p>Lorem ipsum dolor, sit amet consectetur</p>
        <button>Comprar</button>
      </div>
      <div class="icard gold">
        <h3>Oro</h3>
        <i class="fa fa-user fa-5x gold"></i>
        <p>Lorem ipsum dolor, sit amet consectetur</p>
        <button>Comprar</button>
      </div>
      <div class="icard">
        <h3>Bronce</h3>
        <i class="fa fa-user fa-5x bronce"></i>
        <p>Lorem ipsum dolor, sit amet consectetur</p>
        <button>Comprar</button>
      </div>
    </div>
  </div>
</section>

<section class="products">
  <h2 style="text-align: center; font-weight: bold">Productos</h2>
  <div class="carousel">
    <a class="carousel-item" href="#one!"
      ><img src="https://as01.epimg.net/diarioas/imagenes/2022/05/29/actualidad/1653826510_995351_1653826595_noticia_normal_recorte1.jpg"
    /></a>
    <a class="carousel-item" href="#two!"
      ><img src="https://as01.epimg.net/diarioas/imagenes/2022/05/29/actualidad/1653826510_995351_1653826595_noticia_normal_recorte1.jpg"
    /></a>
    <a class="carousel-item" href="#three!"
      ><img src="https://as01.epimg.net/diarioas/imagenes/2022/05/29/actualidad/1653826510_995351_1653826595_noticia_normal_recorte1.jpg"
    /></a>
    <a class="carousel-item" href="#four!"
      ><img src="https://as01.epimg.net/diarioas/imagenes/2022/05/29/actualidad/1653826510_995351_1653826595_noticia_normal_recorte1.jpg"
    /></a>
    <a class="carousel-item" href="#five!"
      ><img src="https://as01.epimg.net/diarioas/imagenes/2022/05/29/actualidad/1653826510_995351_1653826595_noticia_normal_recorte1.jpg"
    /></a>
  </div>
</section>
