<nav>
    <div class="nav-wrapper">
        <a routerLink="/inicio" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/administracion/mascotas">Sass</a></li>
            <li><a routerLink="/administracion/productos">Components</a></li>
            <li><a routerLink="/seguridad/identificar">Identificar</a></li>
            <li><a routerLink="/seguridad/cambio-clave">Cambio clave</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/administracion/mascotas">Sass</a></li>
    <li><a routerLink="/administracion/productos">Components</a></li>
    <li><a routerLink="/seguridad/identificar">Identificar</a></li>
    <li><a routerLink="/seguridad/cambio-clave">Cambio clave</a></li>
</ul>