<nav>
    <div class="nav-wrapper light-blue darken-1">
        <a routerLink="/inicio" class="brand-logo">Inicio</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-mascota">Mascota</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-producto-servicio">Productos</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/buscar-planes">Planes</a></li>            
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-usuario">Usuarios</a></li>
            <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Identificar</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrar-sesion">Cerrar sesion</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/crear-prospecto">Contáctanos</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-mascota">Mascota</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-producto-servicio">Productos</a></li>            
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-usuario">Usuarios</a></li>
    <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Identificar</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cambio-clave">Cambio clave</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrar-sesion">Cerrar sesion</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/crear-prospecto">Contáctanos</a></li>
</ul>