<div class="container">
    <h3 class="center-align"> Editar Mascota</h3>
    <form [formGroup]="fgValidador" (ngSubmit)="EditarMascota()" class="row g-3 needs-validation" novalidate>
        <input type="hidden" formControlName="id" />
       
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombres</label>
            <input formControlName="nombre" type="text" class="form-control" id="nombre" required>

        </div>
        <div class="col-md-6">
            <label for="foto" class="form-label">Foto</label>
            <input formControlName="foto" type="text" class="form-control" id="foto" required>

        </div>
<!-- ESTE ES EL SELECT-->
<p>
    <label>
      <input formControlName="estado" name="estado" type="radio" value="Pendiente" checked />
      <span>Pendiente</span>
    </label>
  </p>

  <p>
      <label>
        <input formControlName="estado" name="estado" type="radio" value="Aceptado"/>
        <span>Aceptado</span>
      </label>
    </p>

  <p>
    <label>
      <input formControlName="estado" name="estado" type="radio" value="Rechazado"/>
      <span>Rechazado</span>
    </label>
  </p>

<!-- HASTA AQUÍ-->
        <div class="col-md-6">
            <label for="especie" class="form-label">Especie</label>
            <input formControlName="especie" type="text" class="form-control" id="especie" required>

       
        <div class="col-md-4">
            <label for="comentario" class="form-label">Comentario</label>
            <input formControlName="comentario" type="text" class="form-control" id="comentario" required>
            <div>
                Campo requerido
            </div>
        </div>

        <div class="col-12">
            <button [disabled]="!fgValidador.valid" class="btn btn-primary" type="submit">Guardar</button>
        </div>
 
</div>
